* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fafafa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #2e1758;
  padding: 30px;
}

header {
  margin-bottom: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.25rem;
}

nav a {
  width: max-content;
}

nav a:hover {
  color: #cfcfcf;
  transform: scale(1.02);
}
